fastparquet
gdown
ipywidgets
matplotlib
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
numba
numpy
pandas
pyarrow
seaborn
torch>=2.0
torchmetrics
torchaudio
torchvision
tqdm